*{
    margin: 0;
    padding: 0;
}

header>nav{
    font-weight: 500;
}

footer{
    background-color: #212529;
    background-image: url(./assets/footer-bg.jpg);
    color: whitesmoke;
    text-align: center;
    height: 100px;
}

footer>div>ul>li>a{
    /* font-family: roboto, sans-serif; */
    text-decoration: none;
    color: whitesmoke;
    width: 25%;
    font-size: 15px;
    transition: all .3s ease;
}

footer>div>ul>li>a:hover{
    color: black;
}

h6{text-transform: uppercase;}

.banner{
    background: url(https://images.pexels.com/photos/4482950/pexels-photo-4482950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1), rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    min-height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 18px;
}

.hero-mockup{
    max-width: 100%;
    height: auto;
}

.card{
    width: 300px;
}

.post{
    width: 80vw;
}

.post__texto{
    background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    color: whitesmoke;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 15px;
}

.post__click{
    width: 160px;
}

.bounce{
    animation: bounce 3s infinite ease-in-out;
    animation-delay: 0s;
}

@keyframes bounce{
    0%{
        transform: translateY(-5px);}
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@media (max-width: 768px) {
    .post{
        width: 100vw;
    }
}
